.counter-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.App {
    text-align: center;
}

.count-container {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

.count {
    font-size: 36px;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 30px;
    animation: scaleUp 0.5s ease-in-out infinite alternate;
}

@keyframes scaleUp {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}

.buttons {
    background-color: green;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.buttons:hover {
    background-color: #2ecc71;
    transform: scale(1.05);
}

.input-container {
    margin-top: 20px;
    width: 240px;
    font-weight: bold;
}

.history {
    background: linear-gradient(to bottom, lightyellow, #eee19b);
    font-size: 18px;
    padding: 20px;
    padding-top: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
}

input[type="number"] {
    color: rgb(24, 5, 85);
}

.reset-button {
    background-color: rgb(237, 91, 91);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.reset-button:hover {
    background-color: #cc2e2e;
    transform: scale(1.05);
}